* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #ddd;
}

main {
  max-width: 420px;
  margin: 30px auto;
}

.logo{
  margin: 30px auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: #00eeff;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

h1 span{
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 6px;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  font-size: 17px;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: #777;
}

form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: #ddd;
}

div.transactions {
  margin-top: 10px;
}

div.transaction {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}

div.transaction:first-child {
  border-top: 0;
}

div.transaction div.name {
  font-size: 1.2rem;
}

div.transaction div.description {
  font-size: 0.8rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #1c1;
}

div.price.red {
  color: #c11;
}

div.transaction div.datetime {
  font-size: 0.8rem;
  color: #888;
}

@media (max-width: 600px) and (min-width: 320px) {
  main {
    max-width: 300px;
    margin: 30px auto;
  }
}